@{
    ViewData["Title"] = "Alumnos";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/Custom/js/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/Custom/js/bootstrap-datepicker/css/datepicker.css" />
}

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Fecha</label>
                        <br />
                        <input class="form-control form-control-inline input-medium default-date-picker" size="10" type="text" value="" />
                                
                        
                    </div>
                    <div class="col-md-3">
                        <label>Marca</label>
                        <br />
                        <select class="form-control m-bot15 w-100 col-md-6">
                            <option value="0">LG</option>
                            <option value="0">Sony</option>
                            <option value="0">Logitech</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Ubicacion</label>
                        <br />
                        <select class="form-control m-bot15 w-70 col-md-6">
                            <option value="0">Laboratorio 1</option>
                            <option value="0">Salon 512</option>
                            <option value="0">Eliminado</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary mt-20">Consultar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                Historial De Equipos
            </header>
            <div class="panel-body">
                <table class="table table-bordered" id="EquipoTable">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Producto</th>
                            <th>Descripcion</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Stock</th>
                            <th>Proveedor</th>
                            <th>Ubicacion</th>
                            <th>Foto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="row_1">
                            <td>177</td>
                            <td>Proyector Sony</td>
                            <td>Proyector</td>
                            <td>Sony</td>
                            <td>K100D8</td>
                            <td>1</td>
                            <td>Sony</td>
                            <td>Docencia 1</td>
                            <td> image 1</td>
                        </tr>
                        <tr id="row_2">
                            <td>2</td>
                            <td>Television LG</td>
                            <td>Television</td>
                            <td>LG</td>
                            <td>LG2001</td>
                            <td>3</td>
                            <td>LG</td>
                            <td>Docencia 1</td>
                            <td> image 1</td>
                        </tr>
                        <tr id="row_3">
                            <td>40</td>
                            <td>Teclado Sony</td>
                            <td>Teclado</td>
                            <td>Sony</td>
                            <td>K20i12</td>
                            <td>1</td>
                            <td>Sony</td>
                            <td>Docencia 2</td>
                            <td> image 1</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="EquipoModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Producto</h4>
            </div>
            <div class="modal-body">

                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Producto</label>
                        <div class="col-lg-10 w-50">
                            <input type="text" class="form-control" id="InpProduct">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">Descripcion</label>
                        <div class="col-lg-10 w-50">
                            <input type="text" class="form-control" id="InpDescript">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Marca</label>
                        <div class="col-lg-10 w-50">
                            <input type="text" class="form-control" id="InpBrand">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Modelo</label>
                        <div class="col-lg-10 w-50">
                            <input type="email" class="form-control" id="InpModel">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Stock</label>
                        <div class="col-lg-10 w-50">
                            <input type="text" class="form-control" id="InpStock">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Proveedor</label>
                        <div class="col-lg-10 w-50">
                            <input type="text" class="form-control" id="InpProveedor">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Ubicacion</label>
                        <div class="col-lg-10 w-50">
                            <input type="text" class="form-control" id="InpUbicacion">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button id="btn-save" class="btn btn-bluee">Guardar</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Custom/plugins/DataTables/Select-1.3.2/js/select.bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Custom/js/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Custom/js/select2/select2.js"></script>
    <script src="~/js/Equipos/ListEquipos.js?@DateTime.Now.Millisecond"></script>
}
