@section Styles {
    <link rel="stylesheet" type="text/css" href="~/Custom/js/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/Custom/js/bootstrap-datepicker/css/datepicker.css" />
}

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-horizontal">
                            <div class="form-group row">
                                <label class="control-label col-md-6">Fecha</label>
                                <div class="input-group input-large col-md-6" data-date="13/07/2013" data-date-format="mm/dd/yyyy">
                                    <input type="text" class="form-control dpd1" name="from" />
                                    <span class="input-group-addon">A</span>
                                    <input type="text" class="form-control dpd2" name="to" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-horizontal">
                            <div class="form-group row">
                                <label class="control-label col-md-3">Estado</label>
                                <select class="form-control m-bot15 w-50 col-md-6">
                                    <option value="0">Activo</option>
                                    <option value="0">Entregado</option>
                                    <option value="0">Eliminado</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-horizontal">
                            <div class="form-group row">
                                <label class="control-label col-md-4">Usuario</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary">Consultar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">Historial De Prestamos</header>
            <div class="panel-body">
                <table class="table table-striped table-hover table-bordered" id="PrestamoTable">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Articulo</th>
                            <th>Solicito</th>
                            <th>Entrego</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="row_1">
                            <td>15/03/2021</td>
                            <td>MAC 2012</td>
                            <td>Alumno1</td>
                            <td>Sebastian Llamas</td>
                            <td class="text-center">
                                <span class="label label-success">Entregado</span>
                            </td>
                        </tr>
                        <tr id="row_2">
                            <td>15/03/2021</td>
                            <td>MAC 2012</td>
                            <td>Alumno1</td>
                            <td>Sebastian Llamas</td>
                            <td class="text-center">
                                <span class="label label-success">Entregado</span>
                            </td>
                        </tr>
                        <tr id="row_2">
                            <td>15/03/2021</td>
                            <td>MAC 2012</td>
                            <td>Alumno1</td>
                            <td>Sebastian Llamas</td>
                            <td class="text-center">
                                <span class="label label-success">Entregado</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
@section Scripts {
    <script src="~/Custom/plugins/DataTables/Select-1.3.2/js/select.bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Custom/js/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="~/Custom/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="~/Custom/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="~/Custom/js/bootstrap-daterangepicker/moment.min.js"></script>
    <script src="~/js/Prestamos/HistorialPrestamos.js"></script>
}