@{
    ViewData["Title"] = "Alumnos";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/Custom/js/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/Custom/js/bootstrap-fileupload/bootstrap-fileupload.css" />
}
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label ">Estado</label><br />
                        <select id="sltcEstatus" class="populate placeholder w-50">
                            <option value="">Todos</option>
                            <option value="1" selected>Activo</option>
                            <option value="0">Desactivado</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label ">Alumno</label>
                        <br />

                        @Html.DropDownList("e2", (IEnumerable<SelectListItem>)ViewBag.AlumnosSLCT as List<SelectListItem>,
                           "TODOS", new { @class = "populate placeholder w-80" })
                    </div>
                    <div class="col-md-2">
                        <label class="control-label ">Grupo</label>
                        <br />
                        @Html.DropDownList("e3", (IEnumerable<SelectListItem>)ViewBag.GroupSlct as List<SelectListItem>,
                          "TODOS", new { @class = "populate placeholder w-100" })
                    </div>
                    <div class="col-md-2">
                        <button id="btn-query" class="btn btn-primary mt-20">Consultar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <div class="panel-body">
                <table class="table table-bordered" id="AlumTable">
                    <thead>
                        <tr>
                            <th>Matricula</th>
                            <th>Nombre</th>
                            <th>Grupo</th>
                            <th>Correo Electronico</th>
                            <th>Telefono</th>
                            <th>Alta por:</th>
                            <th>Fecha de alta</th>
                            <th>Name</th>
                            <th>last</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>



<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="NewAlumno" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Alumno</h4>
            </div>
            <div class="modal-body">

                <div class="form-horizontal" >
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Matricula</label>
                        <div class="col-lg-10 w-50">
                            <input type="text" class="form-control" id="InpMatricula">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword1" class="col-lg-2 col-sm-2 control-label">Nombre</label>
                        <div class="col-lg-10 w-50">
                            <input type="text" class="form-control" id="InpNombre">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Apellido</label>
                        <div class="col-lg-10 w-50">
                            <input type="text" class="form-control" id="InpApellido">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Correo Electronico</label>
                        <div class="col-lg-10 w-50">
                            <input type="email" class="form-control" id="InpEmail">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Telefono</label>
                        <div class="col-lg-10 w-50">
                            <input type="text" class="form-control" id="InpTelefono">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-2 col-sm-2 control-label">Grupo</label>
                        <div class="col-lg-10 w-50">
                            @Html.DropDownList("SlcGroup", (IEnumerable<SelectListItem>)ViewBag.GroupSlct as List<SelectListItem>,
                         "Seleccionar un grupo", new { @class = "populate placeholder w-100" })
       
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-sm-2 control-label">Imagen</label>
                        <div class="controls col-md-9">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <span class="btn btn-white btn-file">
                                    <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Seleccionar Archivo</span>
                                    <span class="fileupload-exists"><i class="fa fa-undo"></i> Cambiar</span>
                                    <input type="file" class="default" id="InpFile" />
                                </span>
                                <span class="fileupload-preview" style="margin-left:5px;"></span>
                                <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button id="btn-save"  class="btn btn-bluee">Guardar</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Custom/js/bootstrap-fileupload/bootstrap-fileupload.js"></script>
    <script type="text/javascript" src="~/Custom/js/select2/select2.js"></script>
    <script src="~/Custom/js/jquery.validate.min.js"></script>
    <script src="~/js/Usuarios/ListAlumno.js?@DateTime.Now.Millisecond"></script>
}
