@{
    ViewData["Title"] = "Usuarios";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/Custom/js/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/Custom/js/bootstrap-fileupload/bootstrap-fileupload.css" />
}
<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label ">Estado</label>
                        <select class="form-control m-bot15 w-50">
                            <option value="0">Activo</option>
                            <option value="0">Desactivado</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label ">Tipos de usuario:</label>
                        <br />
                        <select id="e2" class="populate placeholder w-80">
                            <option value="1">Admin</option>
                            <option value="2">Usuario</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary mt-20">Consultar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <div class="panel-body">
                <table class="table table-bordered" id="UserTable">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Correo Electronico</th>
                            <th>Estado</th>
                            <th>Tipos</th>
                            <th>Creado por</th>
                            <th>Fecha de alta</th>
                            <th>apellido</th>
                            <th>name</th>
                            <th>status</th>
                            <th>typeUser</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>



<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="NewUsuario" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Usuario</h4>
            </div>
            <div class="modal-body">

                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <input type="text" class="hidden" id="inpId"/>
                        <label for="inputNombre" class="col-lg-4 col-sm-4 control-label">Nombre</label>
                        <div class="col-lg-8 w-50">
                            <input type="text" class="form-control" id="InpName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputApellido" class="col-lg-4 col-sm-4 control-label">Apellido</label>
                        <div class="col-lg-8 w-50">
                            <input type="text" class="form-control" id="InpApellido">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-4 col-sm-4 control-label">Correo Electronico</label>
                        <div class="col-lg-8 w-50">
                            <input type="email" class="form-control" id="InpEmail">
                        </div>
                    </div>
                    <div class="form-group" id="ContPass">
                        <label for="inputEmail1" class="col-lg-4 col-sm-4 control-label">Contraseña</label>
                        <div class="col-lg-8 w-50">
                            <input type="password" class="form-control" id="InpPass">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail1" class="col-lg-4 col-sm-4 control-label">Tipo</label>
                        <div class="col-lg-8 w-50">
                            <select class="form-control" id="SlcTipo">
                                <option value="">-</option>
                                <option value="1">Admin</option>
                                <option value="2">User</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 col-sm-4 control-label">Imagen</label>
                        <div class="controls col-md-8">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <span class="btn btn-white btn-file">
                                    <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Seleccionar Archivo</span>
                                    <span class="fileupload-exists"><i class="fa fa-undo"></i> Cambiar</span>
                                    <input type="file" class="default" id="InpFile" />
                                </span>
                                <span class="fileupload-preview" style="margin-left:5px;"></span>
                                <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button id="btn-save" class="btn btn-bluee">Guardar</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Custom/js/bootstrap-fileupload/bootstrap-fileupload.js"></script>
    <script type="text/javascript" src="~/Custom/js/select2/select2.js"></script>
    <script src="~/Custom/js/jquery.validate.min.js"></script>
    <script src="~/js/Usuarios/Index.js?@DateTime.Now.Millisecond"></script>
}