@{
    ViewData["Title"] = "Nuevo Alumnos";
}
@section Styles {
    <link rel="stylesheet" type="text/css" href="~/Custom/js/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="~/Custom/js/bootstrap-fileupload/bootstrap-fileupload.css" />
    <link rel="stylesheet" type="text/css" href="~/Custom/plugins/dropzone/dist/dropzone.css" />
}
<div class="row">
    <div class="col-md-12">
        <section class="panel">
            <div class="panel-body">
                <div class="row mb-15 mt-15">
                    <div class="col-md-4 col-md-offset-8">
                        <button id="btn-Excel" class="btn btn-success">Subir Excel</button>
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-3">Matricula</label>
                        <div class="col-md-4">
                            <input size="16" type="text" value="" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Nombre</label>
                        <div class="col-md-4">
                            <input size="16" type="text" value="" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Apellido</label>
                        <div class="col-md-4">
                            <input size="16" type="text" value="" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Correo</label>
                        <div class="col-md-4">
                            <input size="16" type="text" value="" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Grupo</label>
                        <div class="col-md-4">
                            <select class="form-control" id="source">
                                <option value="AK">1A</option>
                                <option value="HI">2B</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group last">
                        <label class="control-label col-md-3">Foto</label>
                        <div class="col-md-9">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                                </div>
                                <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                <div>
                                    <span class="btn btn-white btn-file">
                                        <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Seleeccionar imagen</span>
                                        <span class="fileupload-exists"><i class="fa fa-undo"></i> Cambiar</span>
                                        <input type="file" class="default" />
                                    </span>
                                    <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash"></i> Remover</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-8">
                        <button class="btn btn-info">Subir Excel</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modalExcel" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Alta de alumnos Excel</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-4 col-md-offset-8">
                        <button class="btn btn-yellow">Descargar template</button>
                    </div>
                </div>
                <div class="row mt-15">
                    <div class="col-md-12">
                        <form action="" id="ExcelDrop" class="dropzone">
                            <div class="fallback">
                                <input name="file" type="file" multiple />
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Custom/plugins/dropzone/dist/dropzone.js"></script>
    <script src="~/js/Usuarios/NuevoAlumno.js?@DateTime.Now.Millisecond"></script>
}
